.colblue {
    color: rgb(0, 107, 180);
}

.colgreen {
    color: rgb(0, 120, 113);
}

.colred {
    color: rgb(189, 39, 30);
}

.colyellow {
    color: rgb(254, 197, 20);
}

.colgrey {
    color: rgb(100, 106, 119);
}